@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-classic{
    @apply border text-white font-bold rounded-lg bg-blue-500 py-1 px-4;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limite de linhas */
    -webkit-box-orient: vertical;
    max-height: 5.9em; /* Ajuste a altura conforme necessário */
}

.divisor {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #000;
}

.zoom {
    transition: transform 0.4s ease-in-out;
}
.zoom:hover {
    transform: scale(1.1);
}