<footer class="bg-color-cinza grid grid-cols-3 py-8 px-4">
    <section class="col-start-1 col-end-2">
        <h1 class="text-2xl">Sobre Nós</h1>
        <p>Instagram</p>
        <p>X</p>
        <p>Email</p>
    </section>
    <section class="col-start-2 col-end-3">
        <h1 class="text-2xl">Agenciamento de Viagens</h1>
        <p>Instagram</p>
        <p>X</p>
        <p>Email</p>
    </section>
    <section class="col-start-3 col-end-4">
        <h1 class="text-2xl">Entre em contato</h1>
        <p>Instagram</p>
        <p>X</p>
        <p>Email</p>
    </section>
</footer>