<!--mexer depois e deixar mais bonito-->
<footer class="bg-color-cinza grid grid-cols-4 gap-4 py-8 px-4 mt-12">
    <section class="col-start-1 col-end-2">
        <h1 class="text-2xl text-white font-semibold font-serif">Informações de Contato</h1>
        <div class="ml-4">
            <p class="text-white font-serif">Endereço: Rua Exemplo, 123, Cidade, País</p>
            <p class="text-white font-serif">Telefone: +55 (XX) XXXX-XXXX</p>
            <p class="text-white font-serif">Email: conato@voyagevoyage.com</p>
            <p class="text-white font-serif">Horário de Atendimento: Segunda a Sexta, das 8h às 18h</p>
        </div>
    </section>
    <section class="col-start-2 col-end-3">
        <h1 class="text-2xl text-white font-semibold font-serif">Suporte</h1>
        <div class="ml-4">
            <p class="text-white font-serif">FAQ</p>
            <p class="text-white font-serif">Contato</p>
            <p class="text-white font-serif">Política de Privacidade</p>
            <p class="text-white font-serif">Termos de Uso</p>
        </div>
    </section>
    <section class="col-start-3 col-end-4">
        <h1 class="text-2xl text-white font-semibold font-serif">Entre em contato</h1>
        <div class="ml-4">
            <p class="text-white font-serif">Instagram</p>
            <p class="text-white font-serif">X</p>
            <p class="text-white font-serif">Facebook</p>
            <p class="text-white font-serif">Email</p>
        </div>
    </section>
    <section class="col-start-4 col-end-5">
        <h1 class="text-2xl text-white font-semibold font-serif">Links Rápidos</h1>
        <div class="ml-4">
            <p class="text-white font-serif">Sobre Nós</p>
            <p class="text-white font-serif">Blog</p>
            <p class="text-white font-serif">Agência de Viagem</p>
            <p class="text-white font-serif">Concultoria Personalizada</p>
        </div>
    </section>
</footer>