{% load static %}

<header class="flex w-full my-8 justify-around">
    <div>
        <h3 class="text-white">Voyage Voyage</h3>
    </div>
    <section class="flex justify-around gap-8">
        <button class="text-white">Principal</button>
        <button class="text-white">Dicas de Viagens</button>
    </section>
    <section class="flex justify-around gap-6">
        buscar
        <button class="btn-classic">Entrar</button>
        <button class="btn-classic">Cadastra-se</button>
    </section>
</header>