{% load static %}

<header class="flex w-full py-8 px-16 justify-between bg-color-cinza">
    <div>
        <a class="text-white font-serif text-xl" href="{% url 'index' %}">Voyage Voyage</a>
    </div>
    <section class="flex justify-around gap-8">
        <!--MUDAR URGENTIMENTE ESSAS TAGS DE BUTTON PARA OUTRA COISA-->
        <a href="#" class="text-white font-serif text-lg">Agencia</a>
        <a href="#" class="text-white font-serif text-lg">Destinos</a>
        <a href="{% url 'blog' %}" class="text-white font-serif">Blog</a>
        <!-- segredo gigaton -->
        <!-- <a href="#" class="text-white">Escrever</a> --> <!-- {% url 'login' %} -->
    </section>
</header>