{% load static %}

<header class="flex w-full py-8 justify-around bg-color-cinza">
    <div>
        <h3 class="text-white">Voyage Voyage</h3>
    </div>
    <section class="flex justify-around gap-8">
        <!--MUDAR URGENTIMENTE ESSAS TAGS DE BUTTON PARA OUTRA COISA-->
        <a href="#" class="text-white">Agencia</a>
        <a href="#" class="text-white">Hospedagem</a>
        <a href="#" class="text-white">Destinos</a>
        <a href="#" class="text-white">Blog</a>
    </section>
</header>