{% extends 'voyage/base.html' %}

{% load static %}

{% block content %}
    <div class="grid grid-cols-5 grid-rows-2 mt-6 gap-2">
        <section class="col-start-2 col-end-4 row-start-1 row-end-3">
            <div class="inline-block relative overflow-hidden">
                <a href="#"><img class="zoom object-cover h-auto rounded-lg" src="{% static 'imgs/'%}{{ post_destaque1.imagem }}" alt="{{ post_destaque1.titulo }}"></a>
                <div class="bottom-0 absolute align-bottom p-2">
                    <a href="#"><h3 class="text-white text-3xl font-bold">{{ post_destaque1.titulo }}</h3></a>
                </div>
            </div>
        </section>
        <section class="col-start-4 col-end-5 row-start-1 row-end-2">
            <div class="inline-block relative overflow-hidden">
                <a href="#"><img class="zoom object-cover rounded-lg" src="{% static 'imgs/'%}{{ post_destaque2.imagem }}" alt="{{ post_destaque2.titulo }}"></a>
                <div class="bottom-0 absolute align-bottom p-2">
                    <a href="#"><h3 class="text-white text-lg font-bold">{{ post_destaque2.titulo }}</h3></a>
                </div>
            </div>
        </section>
        <section class="col-start-4 col-end-5 row-start-2 row-end-3">
            <div class="inline-block relative overflow-hidden">
                <a href="#"><img class="zoom object-cover rounded-lg" src="{% static 'imgs/'%}{{ post_destaque3.imagem }}" alt="{{ post_destaque3.titulo }}"></a>
                <div class="bottom-0 absolute align-bottom p-2">
                    <a href="#"><h3 class="text-white text-lg font-bold">{{ post_destaque3.titulo }}</h3></a>
                </div>
            </div>
        </section>
    </div>
    <div class="grid grid-cols-5 mt-4">
        <section class="mx-4">
            <div class="bg-color-cinza px-4 py-4">
                <h1 class="text-2xl text-white font-semibold">Assine nossa Newsletter</h1>
                <p class="text-xl text-white">E receba as melhores dicas de viagens diretamente em seu e-mail.</p>
                <div class="flex flex-col gap-3 mt-2">
                    <form action="#" class="mt-4">
                        <div class="mb-4">
                            <label for="email" class="block text-white">Nome</label>
                            <input type="email" class="w-full px-4 py-2 mt-2 border rounded-md">
                        </div>
                        <div class="mb-6">
                            <label for="password" class="block text-white">Email</label>
                            <input type="password" class="w-full px-4 py-2 mt-2 border rounded-md">
                        </div>
                        <button type="submit" class="w-full px-4 py-2 bg-blue-300 text-color-cinza rounded-md">
                            Assinar
                        </button>
                    </form>
                </div>
            </div>
        </section>
        <section class="col-start-2 col-end-5">
            {% if preview %}
                {% for preview_rep in preview %}
                    <div class="mb-4 grid grid-cols-4">
                        <div class="mr-4 overflow-hidden col-start-1 col-end-3">
                            <a href="{% url 'blog_pagina' %}"><img class="zoom object-cover rounded-lg" src="{% static 'imgs/'%}{{ preview_rep.imagem }}" alt="{{ preview_rep.titulo }}"></a>
                        </div>
                        <div class="col-start-3 col-end-5">
                            <div class="flex flex-col">
                                <a href="{% url 'blog_pagina' %}" class="text-white text-2xl hover:font-semibold">{{ preview_rep.titulo }}</a>
                                <h2 class="text-white text-base">{{ preview_rep.data_criacao }}</h2>
                                <p class="text-white text-lg limitando">{{ preview_rep.descricao }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </section>
    </div>
{% endblock  %}