{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voyage Voyage</title>
    <link rel="stylesheet" href="{% static "styles/output.css" %}">
    <link rel="stylesheet" href="{% static 'js/main.js' %}">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    
</head>
<body class="bg-color-primary">
    
    {% include 'voyage/partials/_navbar.html' %}
    
    <main>
        {% block content %}
    
        {% endblock %}
    </main>  

    {% include "voyage/partials/_footer.html" %}
</body>
</html>