{% extends 'voyage/base.html' %}
{% load static %}

{% block content %}
    <!-- A IDEIA AQUI É COLOCAR UM CARROSSEL COM IMAGENS DAS 7 MARAVILHAS -->
    <section class="flex justify-center pb-4 mt-8">
        <!--COLOCAR UMA SETA PARA A ESQUERDA-->
        <button class="px-4 bg-gray-400 bg-opacity-30 rounded-l-lg"><</button>
        <div class="inline-block relative">
            <img src="{% static 'imgs/7maravilhasdomundomoderno-capa.jpg' %}" alt="">
            <div class="bg-gray-500 bottom-0 bg-opacity-60 absolute align-bottom p-4">
                <h3 class="text-white text-2xl font-bold">Taj-Mahal</h3>
                <p class="text-white">O Taj-Mahal situado em Agra, na índia, sendo o mais conhecido dos monumentos do país. Foi anunciado em 2007 como uma das sete marvilhas do mundo moderno.</p>
            </div>
        </div>
        <!--COLOCAR UMA SETA PARA A DIREITA-->
        <button class="px-4 bg-gray-400 bg-opacity-30 rounded-r-lg">></button>
    </section>
    
    <!--AQUI VAI VIM O BOG-->
    <!--SE O TITULO FOR MUITO GRANDE ELE VAI QUEBRAR LINHA E VAI DESALINHAR OS OUTROS CARDS-->
    <h1 class="text-white text-4xl mx-4 my-8">Blog Voyage Voyage</h1>
    <section class="grid grid-cols-4 gap-4 mx-6 my-6">
        <div class="flex flex-col flex-wrap">
            <img class="rounded-lg" src="{% static 'imgs/cristo-redentor.jpg' %}" alt="Cristo Redentor">
            <h1 class="text-2xl">As 7 Maravilhas do Mundo</h1>
            <p class="description text-white">Estas são as maravilhas eleitas em uma votação organizada pela New7Wonders Foundation em 2007. São obras arquitetônicas impressionantes construídas em diferentes períodos históricos.</p>
        </div>
        <div class="flex flex-col flex-wrap">
            <img src="{% static 'imgs/esfinge-de-gize.jpg' %}" alt="Esfinge de Gize">
            <h1 class="text-2xl">Os Destinos Internacionais Baratos</h1>
            <p class="description text-white">Estas são as maravilhas eleitas em uma votação organizada pela New7Wonders Foundation em 2007. São obras arquitetônicas impressionantes construídas em diferentes períodos históricos.</p>
        </div>
        <!--AQUI ESTÁ O TEXTO LATERAL DIREITO-->
        <div class="col-start-3 col-end-5 pl-8 pt-6">
            <p class="text-3xl">Promoções Imperdível</p>
            <h1 class="text-6xl">Visite nosso Blog</h1>
            <h2 class="text-4xl">Conheça os Melhores Lugares do Mundo</h2>
        </div>
        <div class="flex flex-col flex-wrap">
            <img src="{% static 'imgs/cristo-redentor.jpg' %}" alt="Cristo Redentor">
            <h1 class="text-2xl">As 7 Maravilhas do Mundo</h1>
            <p class="description text-white">Estas são as maravilhas eleitas em uma votação organizada pela New7Wonders Foundation em 2007. São obras arquitetônicas impressionantes construídas em diferentes períodos históricos.
            </p>
        </div>
        <div class="flex flex-col flex-wrap">
            <img src="{% static 'imgs/cristo-redentor.jpg' %}" alt="Cristo Redentor">
            <h1 class="text-2xl">As 7 Maravilhas do Mundo</h1>
            <p class="description text-white">Estas são as maravilhas eleitas em uma votação organizada pela New7Wonders Foundation em 2007. São obras arquitetônicas impressionantes construídas em diferentes períodos históricos.
            </p>
        </div>
        <div class="flex flex-col flex-wrap">
            <img src="{% static 'imgs/cristo-redentor.jpg' %}" alt="Cristo Redentor">
            <h1 class="text-2xl">As 7 Maravilhas do Mundo</h1>
            <p class="description text-white">Estas são as maravilhas eleitas em uma votação organizada pela New7Wonders Foundation em 2007. São obras arquitetônicas impressionantes construídas em diferentes períodos históricos.
            </p>
        </div>
    </section>
    
    <!--AQUI VAI VIM ALGUNS DESTINOS E CATEGORIAS-->
    <h1 class="text-white text-4xl mx-4 my-8">Guia de Destinos</h1>
    <section class="grid grid-cols-4 gap-4 mx-6 my-6">
        <div class="col-start-1 col-end-3 pt-6">
            <p class="text-3xl">Promoções Imperdível</p>
            <h1 class="text-6xl">Pacotes de viagens</h1>
            <h2 class="text-4xl">Planeje Suas Férias</h2>
        </div>
        <div class="flex flex-col flex-wrap">
            <img src="{% static 'imgs/cristo-redentor.jpg' %}" alt="Cristo Redentor">
            <h1 class="text-2xl">Rio de Janeiro</h1>
            <p>25/09/2024 - 01/10/2024</p>
            <p class="text-white">Pacotes a partir de</p>
            <p>R$ 130</p>
        </div>
        <div class="flex flex-col flex-wrap">
            <img src="{% static 'imgs/cristo-redentor.jpg' %}" alt="Cristo Redentor">
            <h1 class="text-2xl">Rio de Janeiro</h1>
            <p>25/09/2024 - 01/10/2024</p>
            <p class="text-white">Pacotes a partir de</p>
            <p>R$ 130</p>
        </div>
        <div class="flex flex-col flex-wrap">
            <img src="{% static 'imgs/cristo-redentor.jpg' %}" alt="Cristo Redentor">
            <h1 class="text-2xl">Rio de Janeiro</h1>
            <p>25/09/2024 - 01/10/2024</p>
            <p class="text-white">Pacotes a partir de</p>
            <p>R$ 130</p>
        </div>
        <div class="flex flex-col flex-wrap">
            <img src="{% static 'imgs/cristo-redentor.jpg' %}" alt="Cristo Redentor">
            <h1 class="text-2xl">Rio de Janeiro</h1>
            <p>25/09/2024 - 01/10/2024</p>
            <p class="text-white">Pacotes a partir de</p>
            <p>R$ 130</p>
        </div>
    </section>
{% endblock %}